*{
    font-size: clamp(.8rem, 1.5vw, 1rem);
}
.container{

    min-height: 18rem;
    width: clamp( 250px ,90vw, 35rem);
    
    padding: 2rem;
    

    border-radius: 2rem;

    background-color: #121826cc;

    border: 1px solid #959ba1;

    backdrop-filter: blur(10px);


    position: relative;
    
}header{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 2rem;
    border-bottom: 1px solid #959ba1;
    position: relative;
}header ul{
    position: absolute;
    top: 2.5rem;
    right: 12rem;
    background-color: #212936;
    height: 10rem;
    overflow-y: scroll;
    list-style: none;

    padding: .5rem;
    border: 1px solid #959ba1;
    border-radius: 1rem 0 0 1rem;
    
}.selected>svg{
    fill: white;
    
}

button{
    background-color: transparent;
    border: none;
    color: #959ba1;
    font-weight: 600;
    cursor: pointer;
    border-radius: .5rem;
    
}button:hover, .selected{
    background-color: rgba(255, 255, 255, 0.137);
    
}.selected{
    color: white;
    transition: .7s;
}

svg{
    fill: #959ba1;
}

.lang_bt{
    margin-right: 1rem;
    padding: .6rem;

}.lang_bt>svg{
    width: .8rem;
}

.square_bt{
    border: 2px solid #959ba1;
    width: 2.2rem;
    height: 2.2rem;
}
.square_bt>svg{
    height: 60%;
}

.text{
    width: 100%;
    padding-bottom: 80px;
}
textarea{
    max-width: 100%;

    background-color: transparent;
    border: none;

    resize: none;
    outline: none;
    padding: 1rem;
    color: white;

    font-weight: 600;
    
}.botton_menu{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    position: absolute;

    width: 100%;
    left: 0;
    bottom: 0;

    padding: 1.5rem;
}.botton_menu .square_bt{
    margin-right: .4rem;
}