main{
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    background-image: linear-gradient(to top, #040711, #040711, transparent);
    background-attachment: fixed;
}